<div class="row p-0 m-0 ">
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/6.jpg" alt="">
        </div>
        <div>
            <h3>Mohamed Abdallah Aboulhamd</h3>
            <h6>Egypt – Qena</h6>
            <h6>01143376914</h6>
            <h6>medob0429&#64;gmail.com</h6>
            <h6>A graphic designer and front-end developer with experience in design and programming using technologies
                like Photoshop,
                HTML, CSS, JavaScript, and Angular. I have an academic background in Educational Technology and
                Information with a focus
                on digital marketing. I am always looking to provide creative and effective solutions, and I possess
                strong
                organizational and discipline skills that allow me to complete tasks with high quality and
                professionalism.</h6>
            <h6>South Valley University, Faculty of Specific Education</h6>
            <h6>Department of Educational Technology and Information</h6>
            <h6>Final-year student</h6>
        </div>
    </div>
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/hegazy.jpg" alt="">
        </div>
        <div>
            <h3>Mahmoud Hegazy Fouad</h3>
            <h6>Qena-Dishna-Elfawya</h6>
            <h6>01143376914</h6>
            <h6>mhf2662003&#64;gmail.com</h6>
            <h6>I am a skilled web designer with extensive experience in developing responsive websites using HTML, CSS,
                and JavaScript.
                I excel in front-end development, ensuring with angular framework high-performance and user-friendly
                interfaces.
                Additionally, I am proficient in Ui\UX designing
                Additionally, I am proficient in video editing, image modification, and creating engaging animated
                videos. I have strong
                programming knowledge, particularly in HTML, CSS, JavaScript, and Python. My problem-solving abilities
                enable me to
                quickly resolve technical issues.</h6>
            <h6>South Valley University,Computers and Information</h6>
            <h6>Final-year student</h6>
        </div>
    </div>
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/abdaldayem.jpg" alt="">
        </div>
        <div>
            <h3>Mohamed Abdeldayem</h3>
            <h6>Egypt – Qena</h6>
            <h6>01064082035</h6>
            <h6>genpyjoyboy&#64;gmail.com</h6>
            <h6>
                I have developed various skills in web design and development, including the use of HTML, CSS, and
                Bootstrap to style
                pages and add custom effects to elements like buttons and cards. Additionally, I have experience
                creating personal blog
                layouts and customizing their design with CSS, focusing on mobile responsiveness and interactive hover
                effects. I am
                also working on projects using Angular, benefiting from its standalone component feature, and I am
                interested in
                enhancing the integration of elements with APIs using ECMAScript.
            </h6>
            <h6>South Valley University, Computers and Information</h6>
            <h6>Level 2</h6>
        </div>
    </div>
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/adel.jpg" alt="">
        </div>
        <div>
            <h3>Ahmed Adel AbdElhamid</h3>
            <h6>Aswan komompo</h6>
            <h6>01142780766</h6>
            <h6>ahmdadlb126&#64;gmail.com</h6>
            <h6>I am a professional web developer specializing in front-end design and development, with extensive
                experience in Tier 1
                cybersecurity. I am proficient in programming languages like HTML, CSS, JavaScript, Python, C, and C++,
                as well as
                frameworks such as Bootstrap and Angular. My strong background in networking and cybersecurity
                principles enables me to
                effectively protect systems.Additionally, I excel in image design and editing using software like
                Photoshop. I focus on
                optimizing web applications for performance and security, ensuring a smooth user experience. </h6>
            <h6>South Valley University,Faculty of Computers and Information </h6>
            <h6>Final-year student</h6>
        </div>
    </div>
    <div class="info ">
        <div class="contimg">
        </div>
        <div>
            <h3>Eman Refai Tawfek</h3>
            <h6>Egypt – Qena</h6>
            <h6>01092738788</h6>

            <h6>eman.ahmed01092738&#64;gmail.com</h6>
            <h6>I am a skilled web designer with extensive experience in developing responsive websites using HTML, CSS,
                and JavaScript.
                I excel in front-end development, ensuring high-performance and user-friendly interfaces. Additionally,
                I am proficient
                in video editing, image modification, and creating engaging animated videos. I have strong programming
                knowledge,
                particularly in HTML, CSS, JavaScript, and Python. My problem-solving abilities enable me to quickly
            </h6>
            <h6>South Valley University, Faculty of Specific Education</h6>
            <h6>Department of Educational Technology and Information</h6>
            <h6>Final-year student</h6>
        </div>
    </div>
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/hagag.jpg" alt="">
        </div>
        <div>
            <h3>Mohamed Abo Elhagag Fahiem</h3>
            <h6>Egypt – Qena - Nag Hammad</h6>
            <h6>01021259451</h6>
            <h6>mohamedhegag233&#64;gmail.com</h6>
            <h6>I am a skilled web designer with extensive experience in developing responsive websites using HTML, CSS,
                and JavaScript.
                I excel in front-end development, ensuring high-performance and user-friendly interfaces. Additionally,
                I am proficient
                in video editing, image modification, and creating engaging animated videos. I have strong programming
                knowledge,
                particularly in HTML, CSS, JavaScript.</h6>
            <h6>South Valley University, Faculty of computer and information science</h6>
            <h6>Department of Educational Technology and Information</h6>
            <h6>Final-year student</h6>
        </div>
    </div>
</div>