<div class="row p-0 m-0 ">
    <div class="info ">
        <div class="contimg">
            <img src="../../../assets/6.jpg" alt="">
        </div>
        <div>
            <h3>Mohamed Abdallah Aboulhamd</h3>
            <h6>Egypt – Qena</h6>
            <h6>01143376914</h6>
            <h6>medob0429&#64;gmail.com</h6>
            <h6>A graphic designer and front-end developer with experience in design and programming using technologies
                like Photoshop,
                HTML, CSS, JavaScript, and Angular. I have an academic background in Educational Technology and
                Information with a focus
                on digital marketing. I am always looking to provide creative and effective solutions, and I possess
                strong
                organizational and discipline skills that allow me to complete tasks with high quality and
                professionalism.</h6>
            <h6>South Valley University, Faculty of Specific Education</h6>
            <h6>Department of Educational Technology and Information</h6>
            <h6>Final-year student</h6>
        </div>
    </div>
</div>