<footer class="d-flex ps-4 py-3 mt-4 justify-content-center col-12 text-capitalize ">
    <div>
        <h1>Dealora</h1>
        <div>
            <h4><a [routerLink]="['/contactus']">Authors</a></h4>
            <h4><a [routerLink]="['/']">privacy&policy</a></h4>
            <h4><a [routerLink]="['/']">terms&conditions</a></h4>
        </div>
    </div>
    <div class="d-flex align-items-end  justify-content-evenly col-9 cols">
        <div class="col1">
            <h4><a [routerLink]="['/contactus']">support</a></h4>
            <h4><a [routerLink]="['/']">follow</a></h4>
            <h4><a [routerLink]="['/']">cookies policy</a></h4>
        </div>
        <div class="col2">
            <h4><a [routerLink]="['/aboutus']">what's new</a></h4>
            <h4><a [routerLink]="['/']">cookies settings</a></h4>
            <h4><a [routerLink]="['/']">copyright notification</a></h4>
        </div>
        <div class="col3">
            <div>
                <h4><a [routerLink]="['/']">social media</a></h4>
                <div class="d-flex justify-content-around">
                    <img src="../../../assets/instagram.png" width="30" class="border border-2 border-light rounded-3"
                        alt="">
                    <img src="../../../assets/facebook.png" width="30" class="border border-2 border-light rounded-3"
                        alt="">
                    <img src="../../../assets/linkedin.png" width="30" class="border border-2 border-light rounded-3"
                        alt="">
                    <img src="../../../assets/twitter.png" width="30" class="border border-2 border-light rounded-3"
                        alt="">
                </div><br><br>
            </div>
        </div>
    </div>


</footer>