.contimg_text {
    height: 500px;
    display: flex;
    align-items: center;
    margin: 20px;

}

.name {
    font-size: 45px;
    font-weight: bolder;

}

.contText {
    width: 50%;
}

#slogan {
    font-size: 28px;
    color: rgb(63, 63, 63);
}

#describtion {
    width: 80%;
    font-size: 20px;
}

#aboutusbtn {
    border: none;
    outline: none;
    background-color: #4094F7;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgb(175, 181, 187);
}

.contImg {
    width: 50%;
}

#addBtn {
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 24px;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    box-shadow: 2px 2px 10px rgb(203, 203, 203);
}

#addBtn:hover {
    transform: scale(1.1);
}

#cards {
    margin-block: 24px;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    box-shadow: 2px 2px 10px rgb(203, 203, 203);
}

#cards:hover {
    transform: scale(1.04);
}

.bodycards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contimage {
    margin-top: 12px;
    width: 250px;
    height: 300px;
}

#image_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewbtn {
    background-color: #4094F7;
    color: white;
    border-radius: 13px;
}
#viewbtn:hover{
    transform: scale(1.1);
    background-color: #8ab9ef;
}

@media(max-width:768px) {
    #cards {
        width: 90%;
        height: auto;
    }

    #addBtn {
        width: 90%;
    }

    hr {
        display: none;
    }

    .contText {
        width: 100%;
    }

    .contImg {
        margin-top: 20px;
        width: 100%;
    }

    .contimg_text {
        flex-direction: column;
        margin-bottom: 270px;
    }

    #cards:hover {
        transform: scale(1.05);
    }

    .bodycards {
        display: flex;
        justify-content: center;
    }
}