<!-- nav:user -->
<nav>
    <div class="address">
        <h1 class="text-bold"><button [routerLink]="['/userhome']" >Dealora</button></h1>
    </div>
    <div id="allelements">
        <div id="elements">
            <ul>
                <li class="mx-3"><a [routerLink]="['/userhome']" routerLinkActive="color">Home</a></li>
                <li class="mx-3"><a [routerLink]="['/usercart']" routerLinkActive="color">Cart</a></li>
                <li class="mx-3"><a [routerLink]="['/aboutus']" routerLinkActive="color">About Us</a></li>
                <li class="mx-3"><a [routerLink]="['/contactus']" routerLinkActive="color">contact Us</a></li>
            </ul>
        </div>
        <div class="menu" (click)="showbtn()">
            <img src="../../../../assets/burger-bar.png" width="35px" alt="">
        </div>
    </div>
</nav>
<!-- nav:admin -->
<!-- <nav>
    <div class="address">
        <h1 ><button class="name" [routerLink]="['/home']">Dealora</button></h1>
    </div>
    <div id="allelements">

        <div class="elements">
            <ul>
                <li class="mx-3"><a [routerLink]="['/home']" routerLinkActive="color">Home</a></li>
                <li class="mx-3"><a [routerLink]="['/cart']" routerLinkActive="color">Cart</a></li>
                <li class="mx-3"><a [routerLink]="['/aboutus']" routerLinkActive="color">About Us</a></li>
                <li class="mx-3"><a [routerLink]="['/contactus']" routerLinkActive="color">contact Us</a></li>
            </ul>
        </div>
        <div class="menu">
            <img src="../../../../assets/burger-bar.png" width="35px" alt="">
        </div>
    </div>
</nav> -->